#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #4b0082; /* Indigo background */
}

.app-container {
  display: flex;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  text-align: center;
}

.sidenav {
  border-right: 1px solid black;
  width: 100px;
  height: 50vh;
  background-color: #6a0dad; /* Purple header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.sidenav ul {
  list-style-type: none;
  text-align: left;
  margin-left: 0px;
  font-size: medium;
}
.sidenav li {
  border-bottom: 2px solid #ffffff;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #4b0082; /* Indigo background */
  overflow-y: auto;
}

h1 {
  color: white;
}
